#root,
html,
body {
  height: 100%;
}

body {
  margin: 0;
  /* background-color: whitesmoke; */
  /* background-image: radial-gradient(circle,#25274d, #1e3b70  ); */
}

* {
  box-sizing: border-box;
}

.dark{
    background-color: rgb(26, 3, 58);
    color: white;
    height: 100vh;
    overflow-y: scroll;
}
.light{
    background-color: white;
    color: black;
    height: 100vh;
    overflow-y: scroll;
}
#btn{
    border-radius: 12px;
    padding:10px;
    height: fit-content;
    width: auto;
    background-color: rgb(38, 138, 214);
    color: white;
    cursor: pointer;
    position: fixed;
    margin-left: 90vw;
    margin-top: -80vh;
   
}
#btn:hover{
    background-color: burlywood;
    box-shadow: 0 12px 16px 0 rgba(12, 165, 48, 0.24), 0 17px 50px 0 rgba(11, 174, 90, 0.19);
}

